---
title: Curriculum Vitae
permalink: /cv.html
published: true
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Curriculum Vitae</title>
  <meta content="Benjamin VanderSloot" name="author">
  <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link href="/css/pygments.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="container">
	<div class="row top">
	  <div class="col-md-8 col-sm-8 col-lg-6 col-lg-offset-1">
		<h1><a href="/">Benjamin VanderSloot</a></h1>
	  </div>
	  <div class="col-md-4 col-sm-4 col-lg-4"><h3 class="text-right titlebar"><a href="/cv">CV</a> <a href="/">-</a> <a href="/blog">Blog</a></h3></div>
	  <div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
	    <hr style="margin-top:0px">
	  </div>
	</div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
        <div class="row">
          <div class="col-md-11 col-sm-12 col-lg-11">
            <div class="cv">
              <h3 id="curriculum-vitae">Curriculum Vitae</h3>
{{ site.data.overview }}
              <h4 id="education">Education</h4>
{% for item in site.data.education %}
              <div class="talk">
                <div class="right">
                  <p>{{ item.date }}</p>
                </div>
                <p>{{ item.degree }}, {{ item.school }}</p>
                <ul>{{ item.info }}</ul>
              </div>
{% endfor %}
              <h4 id="awards-and-honors">Awards and Honors</h4>
              <div class="award">
                <ul>
{% for item in site.data.awards %}
  <li>{{ item }}</li>
{% endfor %}
                </ul>
              </div>

              <h4 id="top-tier-conference-papers">Selected Conference Papers</h4>
{% for item in site.data.papers %}{% if item.top %}
              <div class="talk">
                <p><a href="{{ item.url }}">{{ item.title }}</a>
                </p>
				        <ul>
					       <li>{{ item.authors }}</li>
					       <li> {{ item.conference }} {{ item.abbreviation }}, {{ item.month }} {% if item.additional %} </li><li>&mdash; <em><b>{{item.additional}}</b></em> {% endif %}</li>
                </ul>
			        </div>
{% endif %}{% endfor %}

              <h4 id="other-peer-reviewed-publications">Other Peer-Reviewed Publications</h4>
{% for item in site.data.papers %}{% unless item.top %}
              <div class="talk">
                <p><a href="{{ item.url }}">{{ item.title }}</a>
                </p>
				        <ul>
					       <li>{{ item.authors }}</li>
					       <li> {{ item.conference }} {{ item.abbreviation }}, {{ item.month }} {% if item.additional %} </li><li>&mdash; <em><b>{{item.additional}}</b></em> {% endif %}</li>
				        </ul>
			        </div>
{%endunless%}{% endfor %}

              <h4 id="teaching-experience">Teaching</h4>
              {% for item in site.data.teaching %}
              <div class="job">
                <div class="right">
                  <p>{{item.term}}</p>
                </div>
                <p><a>{{item.title}}, {{item.course}}</a>
                </p>
                <p>{{item.number}}, {{item.institution}}</p>
                <ul>
                  {% for resp in item.responsibilities %}
                  <li>{{resp}}</li>
                  {% endfor %}
                </ul>
              </div>
              {% endfor %}

              {% assign sorted_service = site.data.service | sort:"key" | reverse %}
              <h4 id="professional-service">Professional Service</h4>
              <div class="award">
              <ul>
              {% for item in sorted_service %}{% if item.type == 'professional' %}
                <li>{{item.description}}</li>
              {% endif %}{% endfor %}
              </ul>
			  </div>

              <h4 id="university-service">University Service</h4>
              <div class="award">
              <ul>
              {% for item in sorted_service %}{% if item.type == 'university' %}
                <li>{{item.description}}</li>
              {% endif %}{% endfor %}
              </ul>
			  </div>

              <h4 id="invited-talks">Invited Talks</h4>
			  <div class="award">
              <ul>
              {% for item in site.data.talks %}{% if item.type == 'invited' %}
                <li>{{item.title}} at {{item.event}} on {{ item.date | date:"%Y-%m-%d" }}</li>
              {% endif %}{% endfor %}
              </ul>
			  </div>

              <h4 id="professional-experience">Professional Experience</h4>
              {% for item in site.data.professional %}
              <div class="job">
                <div class="right">
                  <p>{{item.dates}}</p>
                </div>
                <p><a>{{item.title}}</a>
                </p>
                <p>{{item.organization}}</p>
                <ul>
                  {% for resp in item.responsibilities %}
                  <li>{{resp}}</li>
                  {% endfor %}
                </ul>
              </div>
              {% endfor %}

              <h4 id="patents">Patents</h4>
{% for item in site.data.patents %}
              <div class="job">
                {{ item }}
              </div>
{% endfor %}

              <h4 id="popular-media">Popular Media</h4>

              <div class="job">
                <ul>
{% for item in site.data.popular %}
                  <li>
                    <a href="{{ item.url }}">{{ item.title }}</a> ({{ item.publication }})
                  </li>
{% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
