---
title: Homepage
permalink: /index.html
published: true
---
<!DOCTYPE html>
<html lang="en">
  <head>
	  <meta charset="utf-8">
	  <title>Benjamin VanderSloot</title>
	  <meta name="description" content="Ph.D. Student in Computer Science and Engineering at the University of Michigan.">
	  <meta name="keywords" content="Benjamin VanderSloot">
	  <meta name="author" content="Benjamin VanderSloot">
	  <meta name="google-site-verification" content="ikjDR_PBmxNlGYmzIGqhL8TjMtiUhgc1nKUTJlbdHZI" />
	  <link rel="stylesheet" href="./css/bootstrap.min.css" type="text/css">
	  <link href="./css/style.css" rel="stylesheet" type="text/css">
	  <link href="./css/pygments.css" rel="stylesheet" type="text/css">
  </head>

  <body>

	<div class="container">

	  <div class="row top">
		<div class="col-md-8 col-sm-8 col-lg-6 col-lg-offset-1">
			<h1><a href="/">Benjamin VanderSloot</a></h1>
		 </div>
		<div class="col-md-4 col-sm-4 col-lg-4"><h3 class="text-right"><a href="/cv">CV</a></h3></div>
		<div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
		<hr style="margin-top:0px">
		</div>
	  </div>

	  <div class="row">
		<div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
		<div class="row">
			<div class="col-md-3 col-sm-4 col-xs-4">
			  <img src="./images/benjamin.vandersloot.jpg" class="col-md-12 col-sm-12 col-xs-12 col-lg-12 displayed"/>
			</div>
			<div class="col-md-9 col-sm-8 col-xs-8"><div class="front-page" style="padding-top: 10px">
			{{ site.data.website }}
			</div></div>
		</div>
		<div class="row">
		  <div class="col-md-12 col-sm-12 col-lg-12">
			<hr/>
		  </div>
		</div>
		<div class="row">
		  <div class="col-md-12 col-sm-12">
      {% for item in site.data.papers %}{% if item.frontpage %}
			<div class="inblog">
			  <h3><a href="{{ item.url }}">
				{{ item.title }} {{ item.abbreviation }}
			  </a></h3>
			  <p>{{ item.abstract }}</p>
			</div>
      {% endif %}{% endfor %}
		   </div>
		  </div>
      <div class="row">
 		<div class="col-md-12 col-sm-12 col-lg-12">
 		  <hr/>
 		</div>
 	   </div>
 	  <div class="row">
 		<div class="col-md-12 col-sm-12">
 		  Website design stolen shamelessly from <a href="https://zakird.com">Zakir Durumeric</a>.
 		</div>
 	  </div>
		 </div>
	   </div>
	</div>
  </body>
</html>
