<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Curriculum Vitae</title>
  <meta content="Benjamin VanderSloot" name="author">
  <link href="{{ url_for('css', filename='bootstrap.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('css', filename='.style.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('css', filename='pygments.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="container">
    <div class="row top">
      <div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
        <h1><a href="/index.html">Benjamin VanderSloot</a>
        </h1>

        <hr>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
        <div class="row">
          <div class="col-md-11 col-sm-12 col-lg-11">
            <div class="cv">
              <h3 id="curriculum-vitae">Curriculum Vitae</h3>


			 {{ personal_short }}

              <h4 id="education">Education</h4>

			  {% for item in education %}   

              <div class="talk">
                <div class="right">
                  <p>{{ item.time }}</p>
                </div>
                <p>{{ item.school }} 
                </p>
                <ul>
				  {{ item.info }}
                </ul>
              </div>
				
			  {% endfor %}

              <h4 id="awards-and-honors">Awards and Honors</h4>


              <div class="award">
                <ul>
	  			  {% for item in awards %}   
				  	<li>{{ item.description }}</li>
				  {% endfor %}
                </ul>
              </div>


              <h4 id="top-tier-conference-papers">Selected Conference Papers</h4>


			  {% for item in selected_papers %}   
              <div class="talk">
                <p><a href="{{ url_for('papers', item.filename) }}">{{ item.title }}</a>
                </p>
				<ul>
					{{ item.authors }}
					<li> {{ item.conference_name }} ({{ item.conference_abbrev }}), {{ item.conference_date }} {% if item.best_paper %} &mdash; <em><b>Best Paper Award</b></em> {% endif %}</li>
					{{ item.additional }}
				</ul>
			  {% endfor %}

              <h4 id="other-peer-reviewed-publications">Other Peer-Reviewed Publications</h4>


			  {% for item in other_papers %}   
              <div class="talk">
                <p><a href="{{ url_for('papers', item.filename) }}">{{ item.title }}</a>
                </p>
				<ul>
					{{ item.authors }}
					<li> {{ item.conference_name }} ({{ item.conference_abbrev }}), {{ item.conference_date }} {% if item.best_paper %} &mdash; <em><b>Best Paper Award</b></em> {% endif %}</li>
					{{ item.additional }}
				</ul>
			  {% endfor %}


              <h4 id="patents">Patents</h4>


              <div class="job">
                United States Patent No. 9,471,480 for <a href="http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO2&Sect2=HITOFF&p=1&u=%2Fnetahtml%2FPTO%2Fsearch-bool.html&r=1&f=G&l=50&co1=AND&d=PTXT&s1=9471480.PN.&OS=PN/9471480&RS=PN/9471480">Data processing apparatus with memory rename table for mapping memory addresses to registers</a>.
              </div>


              <h4 id="university-service">University Service</h4>


              <div class="job">
                <div class="right">
                  <p>May 2016 &ndash; May 2017</p>
                </div>


                <p><a href="http://vhosts.eecs.umich.edu/CSEG/">CSEG Vice President/Treasurer</a>
                </p>


                <p>Computer Science and Engineering Graduate student organization, University of Michigan</p>
              </div>


              <div class="job">
                <div class="right">
                  <p>May 2014 &ndash; December 2014</p>
                </div>


                <p><a href="https://hkn.eecs.umich.edu/">HKN Student Chapter President</a>
                </p>


                <p>Eta Kappa Nu, Beta-Epsilon, University of Michigan</p>
              </div>


              <h4 id="professional-experience">Professional Experience</h4>


              <div class="job">
                <div class="right">
                  <p>June 2014 &ndash; Aug 2014</p>
                </div>


                <p><a>Software Development Engineer Intern</a>
                </p>


                <p>Microsoft, Windows Operating Systems Services Group</p>


                <ul>
                  <li>Designed, deployed redundant storage layer for reliablility in memcached-like service</li>


                  <li>Worked with other teams in the organization to promote use of designed storage stack</li>
                </ul>
              </div>


              <div class="job">
                <div class="right">
                  <p>May 2012 &ndash; Aug 2012</p>
                </div>


                <p><a>Software Engineer Intern</a>
                </p>


                <p>Qualcomm Incorporated, Windows 8 Group</p>


                <ul>
                  <li>Designed a new test automation framework</li>


                  <li>Educated test technicians and engineers how to use the developed framework</li>
                </ul>
              </div>


              <h4 id="popular-media">Popular Media</h4>


              <div class="job">
                <ul>
			  	  {% for item in popular_media %}   
                  <li>
                    <a href="{{ item.link }}">{{ item.title }}</a> ({{ item.organization }})
                  </li>
				  (% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
